.array-container {
  position: absolute;
  left: 500px;
  top: 200px;
}

.array-bar {
  width: 50px;
  /* background-color: pink; */
  display: inline-block;
  margin: 0 1px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background: pink;
  margin-top: -5px;
  border-radius: 50%;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: tomato;
  height: 5px;
}
